sphinx>=3.4.3
sphinx-rtd-theme >= 0.5.0
Pygments >= 2.1.1
funcsigs~=1.0.2
myst-parser==0.14.0
mypy_extensions~=0.4.1
sphinxcontrib-spelling

pyyaml==5.4
jsonpickle==1.4
sortedcontainers==2.1.0
texar-pytorch>=0.1.1
typing>=3.7.4; python_version < '3.5'
typing-inspect>=0.6.0

# PyTorch installation for ReadTheDocs
#https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
# Try newer version of pytorch wheel.
# https://download.pytorch.org/whl/cpu/torch-1.3.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
torch>=1.6.0

git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.nltk&subdirectory=src/nltk
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.elastic&subdirectory=src/elastic
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.faiss&subdirectory=src/faiss
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.gpt2&subdirectory=src/gpt2
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.huggingface&subdirectory=src/huggingface
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.allennlp&subdirectory=src/allennlp
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.spacy&subdirectory=src/spacy
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.stanza&subdirectory=src/stanza
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.tweepy&subdirectory=src/tweepy
git+https://git@github.com/asyml/forte-wrappers.git#egg=forte.vader&subdirectory=src/vader

